/* Colors */
$grey: rgba(211, 211, 211, 0.5);
$active-blue: rgba(194, 223, 250, 0.938);
$light-blue: rgba(200, 223, 238, 0.486);
$blue-border: rgba(124, 193, 240, 0.726);

$tab-color: rgb(48, 44, 44);
$chrome-header-hover: rgba(128, 128, 128, 0.375);

$google-blue: #4285F4;
$google-red: #EA4335;
$google-yellow: #FBBC05;
$google-green: #34A853;
$google-profile-color: palevioletred;
$google-padding-left: 12vw;

$footer-background-color: rgb(242, 242, 242);
$footer-border-color: rgb(218, 220, 224);
