@use 'imports' as *;

.taskbar {
    height: 4.35%;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: rgba(26, 26, 26, 0.6);

    &--blur {
        background-image: url('../images/wallpaper.jpg');
        background-position: 100% 87%;
        filter: blur(7.5px);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100vw;
    }

    // Icon Modifier
    &--icon {
        width: 2.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        transition: all .15s;
    }

    &--icon:hover {
        background-color: rgb(53, 53, 53);
    }

    // Left-Side Taskbar
    &__left {
        height: 100%;
        width: fit-content;
        display: flex;

        &-windows {
            color: white;
        
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                font-size: 1.1rem;
            }
        }

        &-windows:hover {
            color: rgb(245, 128, 128);
        }

        &-windows:active {
            color: rgb(248, 48, 48);
        }

        &-search {
            color: white;

            i {
                transform: rotatey(180deg);
                font-size: 1.1rem;
            }
        }

        &-active {
            width: fit-content;
            height: 100%;
            display: flex;

            &-chrome {
                img {
                    padding: .525rem;
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }

            &-calculator {
                img {
                    padding: .425rem;
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    // Right Side Taskbar
    &__right {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: .25vw;

        &-time {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: .75rem;
            color: white;

            // Time
            p {}

            // Date
            p {}
        }
    }
}