/* Global CSS styles */
:root {
    font-size: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    --grey: rgba(211, 211, 211, 0.5);
    --activeblue: rgba(194, 223, 250, 0.938);
    --lightblue: rgba(200, 223, 238, 0.486);
    --blueborder: rgba(124, 193, 240, 0.726);
}

.text-center {
    text-align: center !important;
}

.hidden {
    display: none !important;
}

/* Single line truncate */
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Multi line truncate */
.multi-truncate {
    line-height: 2rem;
    max-height: 4rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

/* ---- Styles ---- */

* {
    cursor: default;
}

body {
    background-image: url("../images/wallpaper.jpg");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.desktop {
    width: 100%;
    height: 95.65%;
    position: relative;
    display: flex;

    &--icon {
        padding-bottom: 1.2rem;
        border: 1px solid transparent;
        height: 8vh;
        width: 4vw;
    }

    &--icon:hover {
        border: 1px solid rgb(150, 176, 211);
        background-color: rgba(196, 229, 241, 0.39);
    }

    &--icon.focus {
        background-color: rgba(147, 208, 248, 0.548);
    }

    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: .5rem;
        margin-top: .25rem;
        padding: 0 .25rem;
        word-break: keep-all;
        text-align: center;
        row-gap: 1rem;
        font-size: .72rem;

        img {
            width: 100%;
            height: 100%;
            padding: .1rem .15rem .45rem .15rem;
            object-fit: contain;

        }
    }

    &__icon-bin {}

    &__icon-recycle-bin.empty {}

    &__icon-calculator {}

    &__icon-chrome {}


    // Bin App
    &__bin.focus {
        border: 1px solid red;
    }

    &__bin {
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 1px solid rgba(128, 128, 128, 0.753);
        box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.281);
        width: 700px;
        height: 500px;
        position: relative;
        top: 10rem;
        margin: 0 auto;

        // Debugging
        display: none;

        &-header {
            display: flex;
            flex-direction: column;
            flex: 1;

            &-first.focus {
                color: white;
                background-color: darkred;
            }

            &-first {
                display: flex;
                align-items: stretch;
                justify-content: flex-start;
                flex: 1.25;

                &-leftbar {
                    align-items: center;
                    display: flex;
                    column-gap: .25rem;
                    padding: 5px;


                    &-bin,
                    &-paper,
                    &-folder {
                        height: 1rem;
                        width: 1rem;
                    }

                    &-tick {

                        position: absolute;
                        height: .35rem;
                        width: .35rem;
                        left: 2.35rem;
                    }

                    &-paper {
                        box-sizing: content-box;
                        border: 1px solid transparent;
                        padding: 3px 0;
                    }

                    &-paper:hover {
                        border: 1px solid var(--blueborder);
                        background-color: var(--lightblue);
                    }

                    &-arrow-container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        row-gap: .1rem;
                        padding: 0 2px;
                        border: 1px solid transparent;

                        div:first-child {
                            border-bottom: 1px solid black;
                            padding: .25rem;
                        }

                        div:last-child {
                            border: 3px solid black;
                            border-color: black transparent transparent transparent;
                            padding-bottom: 3px;
                        }
                    }

                    &-arrow-container:hover {
                        border: 1px solid var(--blueborder);
                        background-color: var(--lightblue);
                    }

                    p {
                        position: relative;
                        top: -3px;
                        font-size: .75rem;
                        font-weight: lighter;
                    }
                }

                &-middlebar.focus {
                    border-top: 3px solid red;

                }

                &-middlebar {
                    display: flex;
                    align-items: stretch;
                    font-size: .75rem;
                    flex: 1;
                    border-top: 3px solid white;

                    p {
                        display: flex;
                        align-items: center;
                        ;
                    }

                    // Manage
                    p:first-child {
                        padding: 0 2rem;
                        background-color: rgb(238, 202, 255);
                        margin-left: 10.5rem;
                    }

                    // Recycline Bin
                    .bin-tag:last-child {
                        opacity: .5;
                        position: relative;
                        top: -3px;
                        margin-left: 1rem;
                    }

                    .bin-tag.focus {
                        color: white;
                    }

                }

                &-rightbar {
                    display: flex;
                    align-items: center;
                    justify-self: center;

                    i {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        padding: 0 1rem;
                        transition: all .2s;
                        color: rgba(65, 65, 65, 0.418);

                    }

                    // Dash
                    i:first-child {
                        font-size: .75rem;
                    }

                    // Square
                    i:nth-child(2) {
                        font-size: .65rem;
                        color: rgba(65, 65, 65, 0.664);
                    }

                    // Cross
                    i:last-child {
                        font-size: 1.05rem;
                    }

                    i:hover {
                        color: black;
                        background-color: lightcoral;
                    }
                }
            }

            // Second bar
            &-second.focus {
                border-bottom: 1px solid var(--grey);
            }

            &-second {
                display: flex;
                justify-content: space-between;
                font-size: .75rem;
                border-bottom: 1px solid var(--grey);

                &-left {
                    display: flex;
                    width: 23.4rem;

                    * {
                        flex: 1;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid transparent;
                        transition: all .15s;
                    }

                    // File
                    p:first-child {
                        background-color: darkred;
                        color: white;
                        transition: all .15s;
                    }

                    // View
                    p:nth-child(4) {
                        margin-right: 3px;
                    }

                    // Recycle Bin Tools
                    p:last-child {
                        position: relative;
                        top: -2px;
                        flex: 1.625;
                        border: solid 1px transparent;
                        border-top: solid 1px transparent;
                        background:
                            linear-gradient(white, white) padding-box,
                            linear-gradient(var(--grey), rgb(255, 255, 255)) border-box;
                    }

                    *:hover {
                        border-left: 1px solid var(--grey);
                        border-right: 1px solid var(--grey);
                    }

                    p:first-child:hover {
                        background-color: rgb(197, 48, 48);
                    }

                    p:last-child:hover {
                        border: 1px solid rgb(238, 202, 255);
                        border-bottom: solid 1px transparent;
                    }
                }

                &-right {
                    margin-right: .15rem;
                    display: flex;
                    align-items: stretch;
                    justify-content: flex-end;


                    * {
                        padding: 0 .15rem;
                    }

                    i {
                        display: flex;
                        align-items: center;
                        border: 1px solid transparent;
                        font-size: .6rem;
                        color: grey;
                    }

                    i:hover {
                        border: 1px solid var(--blueborder);
                        background-color: var(--lightblue);
                    }

                    img {
                        height: 100%;
                        width: 40%;
                        object-fit: contain;
                    }
                }
            }

            // Third bar
            &-third {
                display: flex;
                margin: .25rem .5rem;

                // Quadruple arrows
                &-leftbar {
                    flex: 1;
                    display: flex;
                    align-items: stretch;

                    p {
                        font-size: .75rem;
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--grey);
                    }

                    p:nth-child(3) {
                        position: relative;
                        top: -.3rem;
                    }

                    p:last-child {
                        color: grey;
                        transition: all .35s;
                        border: 1px solid transparent;
                    }

                    p:last-child:hover {
                        border: 1px solid var(--blueborder);
                        background-color: var(--lightblue);
                    }
                }

                &-middlebar {
                    flex: 3;
                    display: flex;
                    justify-content: space-between;
                    margin-right: .5rem;
                    border: 1px solid var(--grey);


                    &-left {
                        display: flex;
                        align-items: stretch;

                        img {
                            object-fit: contain;
                            height: 100%;
                            width: 20%;
                            padding: 0 .1rem;
                        }

                        i {
                            color: grey;
                            font-size: .5rem;
                        }

                        p {
                            font-size: .75rem;
                            position: relative;
                        }

                        i,
                        p {
                            display: flex;
                            align-items: center;
                            border: 1px solid transparent;
                            text-align: center;
                            transition: all .35s;
                            padding: .15rem;
                        }

                        i:hover,
                        p:hover {
                            border: 1px solid var(--blueborder);
                            background-color: var(--lightblue);
                        }
                    }


                    &-right {
                        display: flex;

                        i {
                            flex: 1;
                            display: flex;
                            align-items: center;
                            border: 1px solid transparent;
                            transition: all .35s;
                            padding: 0 .5rem;
                            font-size: .75rem;
                            color: grey;
                        }

                        i:last-child {
                            border-left: 1px solid var(--grey);
                        }

                        i:hover {
                            border: 1px solid var(--blueborder);
                            background-color: var(--lightblue);
                        }


                    }
                }

                &-rightbar {
                    flex: 1;
                    border: 1px solid var(--grey);
                    display: flex;
                    align-items: stretch;

                    .fa-magnifying-glass {
                        display: flex;
                        align-items: center;
                        transform: rotate(90deg);
                        margin: .15rem 0;
                        padding: 0 .5rem;
                        margin-left: .25rem;
                        font-size: .75rem;
                        color: grey;
                    }

                    form {
                        display: flex;
                        align-items: stretch;

                        // Searchbar
                        input {
                            border: none;
                            margin: .15rem 0;
                            font-size: .72rem;
                            padding: .15rem 0 .15rem;
                        }

                        input:focus {
                            outline: none;
                        }

                        .bin-clear {
                            border: 1px solid transparent;
                            transition: all .35ms;
                            align-items: center;
                            margin: .15rem 0;
                            color: grey;
                            display: flex;
                            // display: none;
                        }

                        .bin-clear:hover {
                            background-color: var(--lightblue);
                        }

                        .bin-clear.open {
                            display: flex;
                        }

                        // Submit button
                        .bin-button {
                            background-color: rgb(197, 48, 48);
                            border: none;
                            color: rgb(241, 241, 241);
                        }

                        .bin-button.open {
                            display: block;
                        }

                        i {
                            padding: 0 .25rem;
                        }

                        button {
                            padding: 0 .5rem;
                        }
                    }
                }
            }
        }

        &-body {
            flex: 5;
            display: flex;

            &-side {
                flex: 1.5;
                border-right: 1px solid rgba(128, 128, 128, 0.082);

                ul {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                }

                li {
                    border: 1px solid transparent;
                    display: flex;
                    align-items: center;
                    padding: 2px 10px;
                    column-gap: 10px;

                    p {
                        font-size: .8rem;
                    }

                    i {
                        color: grey;
                        font-size: .65rem;
                    }

                    img {
                        height: 100%;
                        width: 14%;
                        object-fit: contain;
                    }

                    i:hover {
                        color: teal;
                    }
                }

                li:hover {
                    background-color: var(--lightblue);
                }
            }

            &-main {
                flex: 5;
                display: flex;
                flex-direction: column;

                /* To be implemeneted eventually 8-)
                &-header {
                    flex: 1;
                    display: flex;
                    background-color: red;

                    * {
                        flex: 1;
                    }

                    *:hover {
                        background: var(--lightblue);
                    }
                }
                */

                &-items {
                    flex: 5;
                    display: flex;
                    font-size: .77rem;
                    gap: 1rem;
                    margin: .75rem;

                    div {
                        box-sizing: content-box;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: fit-content;
                        width: 5rem;
                        padding: .35rem .6rem;
                        border: 1px solid transparent;

                        img {
                            width: 5rem;
                            object-fit: contain;
                        }

                        p {
                            text-align: center;

                        }
                    }

                    div:hover {
                        background-color: var(--lightblue);
                    }

                    &-one.focus,
                    &-two.focus {
                        background-color: var(--activeblue);
                        border: 1px solid var(--blueborder);

                    }
                }
            }
        }

        &-footer {
            height: 1.55rem;
            display: flex;
            justify-content: space-between;
            margin: 0 2px;

            &-leftbar {
                margin-left: 10px;
                font-size: .77rem;
                display: flex;
                align-items: center;
            }

            &-rightbar {
                display: flex;
                justify-content: flex-end;

                img {
                    box-sizing: content-box;
                    height: 90%;
                    width: 37.5%;
                    padding: 0px 1px;
                    object-fit: contain;
                }

                img:first-child {
                    border: 1px solid var(--blueborder);
                    background: var(--lightblue);
                }
            }
        }
    }

    // Calculator Bin App
    &__calculator.focus {
        border: 1px solid red;
    }

    &__calculator {
        background-color: rgb(245, 245, 245);
        height: fit-content;
        border: 1px solid rgba(128, 128, 128, 0.637);
        box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.363);
        position: absolute;
        left: 20%;
        top: 15%;

        // Debugging
        display: none;

        &-header {
            display: flex;
            flex-direction: column;
            row-gap: .5rem;

            &-first {
                display: flex;
                justify-content: space-between;
                padding: 0 0 0 1.1rem;

                &-leftbar {
                    display: flex;
                    align-items: center;
                    column-gap: 1rem;

                    img {
                        object-fit: contain;
                        height: 1rem;
                    }

                    p {
                        font-size: .8rem;
                    }
                }

                &-rightbar {
                    display: flex;
                    align-items: stretch;
                    color: rgba(85, 85, 85, 0.719);

                    i,
                    p {
                        padding: .4rem 1rem;
                        display: flex;
                        align-items: center;
                    }

                    i:first-child {
                        font-size: .8rem;
                    }

                    i:nth-child(2) {
                        font-size: .65rem;
                    }

                    i:last-child {
                        font-size: 1rem;
                    }

                    i:hover {
                        background-color: rgb(211, 211, 211);
                    }

                    p:hover {
                        background-color: rgb(224, 0, 0);
                        color: white;
                    }
                }
            }

            &-second {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 1.2rem 0 .5rem;

                img {
                    height: 1rem;
                    border: 7px solid transparent;
                    box-sizing: content-box;
                    margin-right: 3px;
                    border-radius: 3px;
                }

                img:hover {
                    background-color: rgba(128, 128, 128, 0.080);
                    border-color: rgba(128, 128, 128, 0.010);
                }

                &-leftbar {
                    display: flex;
                    align-items: center;

                    // Standard
                    p {
                        font-weight: bold;
                        font-size: 1.25rem;
                    }

                    img:first-child {
                        align-self: stretch;
                        padding: 0px 3.5px;
                    }

                    img:last-child {
                        margin-left: 1rem;
                    }
                }

                &-rightbar {
                    display: flex;
                }
            }
        }

        &-main {

            &-display {
                height: 6rem;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                padding: 1rem 1rem;

                p {
                    font-size: 3rem;
                }
            }

            &-memory {
                display: flex;
                align-items: center;
                font-size: .85rem;

                p {
                    flex: 1;
                    text-align: center;
                    padding: 5px 0rem;
                    border-radius: 2px;
                }

                &-greyout {
                    color: rgba(128, 128, 128, 0.479);
                }

                &-nogreyout:hover {
                    background-color: rgba(128, 128, 128, 0.080);
                    ;
                }
            }

            &-keys {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                align-items: center;
                gap: 3px;
                padding: 0 5px 5px 5px;



                img {
                    height: .9rem;
                    box-sizing: content-box;
                }

                button {
                    font-size: 1.05rem;
                    height: 3.25rem;
                    width: 4.7rem;
                    text-align: center;
                    border-radius: .25rem;
                    background-color: white;
                    border: 1px solid rgba(167, 167, 167, 0.301);
                }

                button:last-child {
                    color: white;
                    background-color: darkred;
                }

                &>&-greyout {
                    background-color: rgb(248, 248, 250);
                }

                &-greyout.divide {
                    font-size: 1.2rem;
                    color: rgb(65, 65, 65);
                }

                button:hover {
                    filter: brightness(.99);
                }

                button:last-child:hover {
                    background-color: rgb(168, 69, 69);
                }
            }
        }
    }

    // Chrome App
    &__chrome {
        position: absolute;
        background-color: white;
        width: 100%;
        height: 100%;

        &-header {
            display: flex;
            flex-direction: column;
            background-color: rgb(202, 109, 109);
            padding: .75rem 0 0 0;

            &-first {
                color: white;

                &-leftbar {
                    display: flex;
                    position: relative;
                    border-top-left-radius: .5rem;
                    border-top-right-radius: .5rem;

                    // Styling thing before tab
                    &-start {
                        position: relative;
                        background-color: green;
                        height: 2.15rem;
                        width: .5rem;
                        z-index: 0;
                    }

                    &-start.copy {
                        position: absolute;
                        background-color: rgb(202, 109, 109);
                        border-bottom-right-radius: 35rem;
                        z-index: 2;
                    }

                    &-end {
                        position: relative;
                        background-color: green;
                        border-bottom-left-radius: 0;
                        height: 2.15rem;
                        width: .5rem;
                        z-index: 0;
                    }

                    &-end.copy {
                        position: absolute;
                        background-color: rgb(202, 109, 109);
                        border-bottom-left-radius: .35rem;
                        z-index: 2;
                    }

                    &-tab {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        background-color: green;
                        column-gap: .5rem;
                        width: 15rem;
                        padding: 0 .5rem;
                        border-top-left-radius: .5rem;
                        border-top-right-radius: .5rem;
                        font-size: .75rem;

                        img {
                            height: 1rem;
                        }

                        p:last-child {
                            flex: 1;
                            text-align: right;

                        }
                    }

                    &-newtab {
                        font-size: 1.2rem;
                        align-self: flex-end;
                        margin-bottom: 3.5px;

                        p {
                            display: flex;
                            align-items: flex-start;
                            text-align: center;
                            background-color: red;
                            border-radius: 100%;
                            padding: 0 .425rem 3px;
                        }

                    }
                }
            }

            &-second {
                display: flex;
                background-color: green;

                &-leftbar {
                    flex: 1;
                    display: flex;
                    align-items: center;
                }

                &-centerbar {
                    flex: 10;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    div {
                        display: flex;
                        align-items: center;
                    }
                }

                &-rightbar {
                    display: flex;
                    align-items: center;
                    flex: 1;

                    p {
                        border-radius: 100%;
                        padding: 0 .45rem 3px;
                    }
                }
            }
        }

        &-main {
            display: flex;
            flex-direction: column;
            height: 87%;

            &-header {
                display: flex;
                font-size: .9rem;
                letter-spacing: -.5px;
                margin: 1rem;

                p:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }

                &-leftbar {
                    flex: 1;
                    display: flex;
                    column-gap: 1rem;
                }

                &-rightbar {
                    flex: 1;
                    display: flex;
                    justify-content: flex-end;
                    column-gap: 1rem;

                    p:last-child {
                        background-color: palevioletred;
                        border-radius: 100%;
                        padding: .25rem .675rem 5px .65rem;
                        color: white;
                    }
                }
            }

            &-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: auto 0;

                &-google {
                    display: flex;
                    font-size: 2.75rem;
                    font-weight: lighter;
                    font-family: 'Poppins', sans-serif;
                    align-items: center;

                    h1:nth-child(1) {
                        position: relative;
                        bottom: .35rem;
                        color: #4285F4;
                        font-size: 5.5rem;
                    }

                    h1:nth-child(2) {
                        color: #EA4335;
                    }

                    h1:nth-child(3) {
                        color: #FBBC05;
                    }

                    h1:nth-child(4) {
                        color: #4285F4;
                    }

                    h1:nth-child(5) {
                        color: #34A853;
                    }

                    h1:nth-child(6) {
                        color: #EA4335;
                    }
                }

                &-form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &-buttons {
                        display: flex;
                    }
                }
            }

            &-footer {
                margin-top: auto;

                &-first {
                    display: flex;
                }

                &-second {
                    display: flex;

                    p:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    &-leftbar {
                        flex: 1;
                        display: flex;
                    }

                    &-rightbar {
                        flex: 1;
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}

.taskbar {
    width: 100%;
    height: 4.35%;
    background-color: black;
    display: flex;
    justify-content: space-between;

    // Icon Modifier
    &--icon {
        width: 2.545vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        transition: all .15s;
    }

    &--icon:hover {
        background-color: rgb(53, 53, 53);
    }

    // Left-Side Taskbar
    &__left {
        height: 100%;
        width: fit-content;
        display: flex;


        &-windows {
            color: white;

            i {

                font-size: 1.2vw;
            }
        }

        &-search {
            color: white;

            i {
                transform: rotatey(180deg);
                font-size: .95vw;
            }
        }

        &-active {
            width: fit-content;
            height: 100%;
            display: flex;

            &-chrome {
                padding: .525rem;

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }

            &-calculator {
                padding: .425rem;

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    // Right Side Taskbar
    &__right {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: .25vw;

        &-time {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: .75rem;
            color: white;

            // Time
            p {}

            // Date
            p {}
        }
    }
}