@use 'calculator';
@use 'chrome';
@use 'desktop';
@use 'recycleBin';
@use 'startMenu';
@use 'taskbar';

/* Global CSS styles */
:root {
    font-size: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    --grey: rgba(211, 211, 211, 0.5);
    --activeblue: rgba(194, 223, 250, 0.938);
    --lightblue: rgba(200, 223, 238, 0.486);
    --blueborder: rgba(124, 193, 240, 0.726);
}

.text-center {
    text-align: center !important;
}

.hidden {
    display: none !important;
}

/* Single line truncate */
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Multi line truncate */
.multi-truncate {
    line-height: 2rem;
    max-height: 4rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

/* ---- Styles ---- */

* {
    cursor: default;
}

body {
    background-image: url("../images/wallpaper.jpg");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}