@use 'calculator';
@use 'chrome';
@use 'desktop';
@use 'recycleBin';
@use 'startMenu';
@use 'taskbar';
@use 'intro';

/* Global CSS styles */
:root {
    font-size: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

.text-center {
    text-align: center !important;
}

.hidden {
    display: none !important;
}

.opening {
    opacity: 0;
    transform: scale(.95);
}

.start-opening {
    opacity: 0;
    height: 30rem;
    transform: scale(.95);
}

/* Single line truncate */
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Multi line truncate */
.multi-truncate {
    line-height: 2rem;
    max-height: 4rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

/* ---- Styles ---- */

* {
    cursor: default;
}

body {
    background-image: url("../images/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}