/* Global CSS styles */
:root {
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
  --grey: rgba(211, 211, 211, 0.5);
  --lightblue: rgba(200, 228, 238, 0.315);
  --blueborder: rgba(124, 193, 240, 0.726);
}

.text-center {
  text-align: center !important;
}

.hidden {
  display: none !important;
}

/* Single line truncate */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Multi line truncate */
.multi-truncate {
  line-height: 2rem;
  max-height: 4rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

/* ---- Styles ---- */
* {
  cursor: default;
}

body {
  background-image: url("../images/wallpaper.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.desktop {
  width: 100%;
  height: 95.65%;
  position: relative;
  display: flex;
}
.desktop--icon {
  padding-bottom: 1.2rem;
  border: 1px solid transparent;
  height: 8vh;
  width: 4vw;
}
.desktop--icon:hover {
  border: 1px solid rgb(150, 196, 211);
  background-color: rgba(224, 232, 235, 0.116);
}
.desktop__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.5rem;
  margin-top: 0.25rem;
  padding: 0 0.25rem;
  word-break: keep-all;
  text-align: center;
  row-gap: 1rem;
  font-size: 0.72rem;
}
.desktop__icon img {
  width: 100%;
  height: 100%;
  padding: 0.1rem 0.15rem 0.45rem 0.15rem;
  object-fit: contain;
}
.desktop__bin.focus {
  border: 1px solid red;
}
.desktop__bin {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.753);
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.281);
  width: 700px;
  height: 500px;
  position: relative;
  top: 10rem;
  margin: 0 auto;
}
.desktop__bin-header {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.desktop__bin-header-first.focus {
  color: white;
  background-color: darkred;
}
.desktop__bin-header-first {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1.25;
}
.desktop__bin-header-first-leftbar {
  align-items: center;
  display: flex;
  column-gap: 0.25rem;
  padding: 5px;
}
.desktop__bin-header-first-leftbar-bin, .desktop__bin-header-first-leftbar-paper, .desktop__bin-header-first-leftbar-folder {
  height: 1rem;
  width: 1rem;
}
.desktop__bin-header-first-leftbar-tick {
  position: absolute;
  height: 0.35rem;
  width: 0.35rem;
  left: 2.35rem;
}
.desktop__bin-header-first-leftbar-paper {
  box-sizing: content-box;
  border: 1px solid transparent;
  padding: 3px 0;
}
.desktop__bin-header-first-leftbar-paper:hover {
  border: 1px solid var(--blueborder);
  background-color: var(--lightblue);
}
.desktop__bin-header-first-leftbar-arrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.1rem;
  padding: 0 2px;
  border: 1px solid transparent;
}
.desktop__bin-header-first-leftbar-arrow-container div:first-child {
  border-bottom: 1px solid black;
  padding: 0.25rem;
}
.desktop__bin-header-first-leftbar-arrow-container div:last-child {
  border: 3px solid black;
  border-color: black transparent transparent transparent;
  padding-bottom: 3px;
}
.desktop__bin-header-first-leftbar-arrow-container:hover {
  border: 1px solid var(--blueborder);
  background-color: var(--lightblue);
}
.desktop__bin-header-first-leftbar p {
  position: relative;
  top: -3px;
  font-size: 0.75rem;
  font-weight: lighter;
}
.desktop__bin-header-first-middlebar.focus {
  border-top: 3px solid red;
}
.desktop__bin-header-first-middlebar {
  display: flex;
  align-items: stretch;
  font-size: 0.75rem;
  flex: 1;
  border-top: 3px solid white;
}
.desktop__bin-header-first-middlebar p {
  display: flex;
  align-items: center;
}
.desktop__bin-header-first-middlebar p:first-child {
  padding: 0 2rem;
  background-color: rgb(238, 202, 255);
  margin-left: 10.5rem;
}
.desktop__bin-header-first-middlebar .bin-tag:last-child {
  opacity: 0.5;
  position: relative;
  top: -3px;
  margin-left: 1rem;
}
.desktop__bin-header-first-middlebar .bin-tag.focus {
  color: white;
}
.desktop__bin-header-first-rightbar {
  display: flex;
  align-items: center;
  justify-self: center;
}
.desktop__bin-header-first-rightbar i {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  transition: all 0.2s;
  color: rgba(65, 65, 65, 0.418);
}
.desktop__bin-header-first-rightbar i:first-child {
  font-size: 0.75rem;
}
.desktop__bin-header-first-rightbar i:nth-child(2) {
  font-size: 0.65rem;
  color: rgba(65, 65, 65, 0.664);
}
.desktop__bin-header-first-rightbar i:last-child {
  font-size: 1.05rem;
}
.desktop__bin-header-first-rightbar i:hover {
  color: black;
  background-color: lightcoral;
}
.desktop__bin-header-second.focus {
  border-bottom: 1px solid var(--grey);
}
.desktop__bin-header-second {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  border-bottom: 1px solid var(--grey);
}
.desktop__bin-header-second-left {
  display: flex;
  width: 23.4rem;
}
.desktop__bin-header-second-left * {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: all 0.15s;
}
.desktop__bin-header-second-left p:first-child {
  background-color: darkred;
  color: white;
  transition: all 0.15s;
}
.desktop__bin-header-second-left p:nth-child(4) {
  margin-right: 3px;
}
.desktop__bin-header-second-left p:last-child {
  position: relative;
  top: -2px;
  flex: 1.625;
  border: solid 1px transparent;
  border-top: solid 1px transparent;
  background: linear-gradient(white, white) padding-box, linear-gradient(var(--grey), rgb(255, 255, 255)) border-box;
}
.desktop__bin-header-second-left *:hover {
  border-left: 1px solid var(--grey);
  border-right: 1px solid var(--grey);
}
.desktop__bin-header-second-left p:first-child:hover {
  background-color: rgb(197, 48, 48);
}
.desktop__bin-header-second-left p:last-child:hover {
  border: 1px solid rgb(238, 202, 255);
  border-bottom: solid 1px transparent;
}
.desktop__bin-header-second-right {
  margin-right: 0.15rem;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}
.desktop__bin-header-second-right * {
  padding: 0 0.15rem;
}
.desktop__bin-header-second-right i {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  font-size: 0.6rem;
  color: grey;
}
.desktop__bin-header-second-right i:hover {
  border: 1px solid var(--blueborder);
  background-color: var(--lightblue);
}
.desktop__bin-header-second-right img {
  height: 100%;
  width: 40%;
  object-fit: contain;
}
.desktop__bin-header-third {
  display: flex;
  margin: 0.25rem 0.5rem;
}
.desktop__bin-header-third-leftbar {
  flex: 1;
  display: flex;
  align-items: stretch;
}
.desktop__bin-header-third-leftbar p {
  font-size: 0.75rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey);
}
.desktop__bin-header-third-leftbar p:nth-child(3) {
  position: relative;
  top: -0.3rem;
}
.desktop__bin-header-third-leftbar p:last-child {
  color: grey;
  transition: all 0.35s;
  border: 1px solid transparent;
}
.desktop__bin-header-third-leftbar p:last-child:hover {
  border: 1px solid var(--blueborder);
  background-color: var(--lightblue);
}
.desktop__bin-header-third-middlebar {
  flex: 3;
  display: flex;
  justify-content: space-between;
  margin-right: 0.5rem;
  border: 1px solid var(--grey);
}
.desktop__bin-header-third-middlebar-left {
  display: flex;
  align-items: stretch;
}
.desktop__bin-header-third-middlebar-left img {
  object-fit: contain;
  height: 100%;
  width: 20%;
  padding: 0 0.1rem;
}
.desktop__bin-header-third-middlebar-left i {
  color: grey;
  font-size: 0.5rem;
}
.desktop__bin-header-third-middlebar-left p {
  font-size: 0.75rem;
  position: relative;
}
.desktop__bin-header-third-middlebar-left i,
.desktop__bin-header-third-middlebar-left p {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  text-align: center;
  transition: all 0.35s;
  padding: 0.15rem;
}
.desktop__bin-header-third-middlebar-left i:hover,
.desktop__bin-header-third-middlebar-left p:hover {
  border: 1px solid var(--blueborder);
  background-color: var(--lightblue);
}
.desktop__bin-header-third-middlebar-right {
  display: flex;
}
.desktop__bin-header-third-middlebar-right i {
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  transition: all 0.35s;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  color: grey;
}
.desktop__bin-header-third-middlebar-right i:last-child {
  border-left: 1px solid var(--grey);
}
.desktop__bin-header-third-middlebar-right i:hover {
  border: 1px solid var(--blueborder);
  background-color: var(--lightblue);
}
.desktop__bin-header-third-rightbar {
  flex: 1;
  border: 1px solid var(--grey);
  display: flex;
  align-items: stretch;
}
.desktop__bin-header-third-rightbar .fa-magnifying-glass {
  display: flex;
  align-items: center;
  transform: rotate(90deg);
  margin: 0.15rem 0;
  padding: 0 0.5rem;
  margin-left: 0.25rem;
  font-size: 0.75rem;
  color: grey;
}
.desktop__bin-header-third-rightbar form {
  display: flex;
  align-items: stretch;
}
.desktop__bin-header-third-rightbar form input {
  border: none;
  margin: 0.15rem 0;
  font-size: 0.75rem;
  padding: 0.15rem 0 0.15rem;
}
.desktop__bin-header-third-rightbar form input:focus {
  outline: none;
}
.desktop__bin-header-third-rightbar form .bin-clear {
  border: 1px solid transparent;
  transition: all 0.35ms;
  align-items: center;
  margin: 0.15rem 0;
  color: grey;
  display: flex;
}
.desktop__bin-header-third-rightbar form .bin-clear:hover {
  background-color: var(--lightblue);
}
.desktop__bin-header-third-rightbar form .bin-clear.open {
  display: flex;
}
.desktop__bin-header-third-rightbar form .bin-button {
  background-color: rgb(197, 48, 48);
  border: none;
  color: rgb(241, 241, 241);
}
.desktop__bin-header-third-rightbar form .bin-button.open {
  display: block;
}
.desktop__bin-header-third-rightbar form i {
  padding: 0 0.25rem;
}
.desktop__bin-header-third-rightbar form button {
  padding: 0 0.5rem;
}
.desktop__bin-body {
  flex: 5;
  display: flex;
}
.desktop__bin-body-side {
  flex: 1.5;
  border-right: 1px solid rgba(128, 128, 128, 0.082);
}
.desktop__bin-body-side ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.desktop__bin-body-side li {
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  padding: 2px 10px;
  column-gap: 10px;
}
.desktop__bin-body-side li p {
  font-size: 0.8rem;
}
.desktop__bin-body-side li i {
  color: grey;
  font-size: 0.65rem;
}
.desktop__bin-body-side li img {
  height: 100%;
  width: 14%;
  object-fit: contain;
}
.desktop__bin-body-side li i:hover {
  color: teal;
}
.desktop__bin-body-side li:hover {
  background-color: var(--lightblue);
}
.desktop__bin-body-main {
  flex: 5;
  display: flex;
  flex-direction: column;
  /* To be implemeneted eventually 8-)
  &-header {
      flex: 1;
      display: flex;
      background-color: red;

      * {
          flex: 1;
      }

      *:hover {
          background: var(--lightblue);
      }
  }
  */
}
.desktop__bin-body-main-items {
  flex: 5;
  margin: auto;
  font-size: 0.77rem;
  color: grey;
}
.desktop__bin-body-main-items p {
  margin-top: 1rem;
}
.desktop__bin-footer {
  height: 1.55rem;
  display: flex;
  justify-content: space-between;
  margin: 0 2px;
}
.desktop__bin-footer-leftbar {
  margin-left: 10px;
  font-size: 0.77rem;
  display: flex;
  align-items: center;
}
.desktop__bin-footer-rightbar {
  display: flex;
  justify-content: flex-end;
}
.desktop__bin-footer-rightbar img {
  box-sizing: content-box;
  height: 90%;
  width: 37.5%;
  padding: 0px 1px;
  object-fit: contain;
}
.desktop__bin-footer-rightbar img:first-child {
  border: 1px solid var(--blueborder);
  background: var(--lightblue);
}
.taskbar {
  width: 100%;
  height: 4.35%;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.taskbar--icon {
  width: 2.545vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  transition: all 0.15s;
}
.taskbar--icon:hover {
  background-color: rgb(53, 53, 53);
}
.taskbar__left {
  height: 100%;
  width: fit-content;
  display: flex;
}
.taskbar__left-windows {
  color: white;
}
.taskbar__left-windows i {
  font-size: 1.2vw;
}
.taskbar__left-search {
  color: white;
}
.taskbar__left-search i {
  transform: rotatey(180deg);
  font-size: 0.95vw;
}
.taskbar__left-active {
  width: fit-content;
  height: 100%;
  display: flex;
}
.taskbar__left-active-chrome {
  padding: 0.525rem;
}
.taskbar__left-active-chrome img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.taskbar__left-active-calculator {
  padding: 0.425rem;
}
.taskbar__left-active-calculator img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.taskbar__right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.25vw;
}
.taskbar__right-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: white;
}
