/* Global CSS styles */
:root {
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
  --grey: rgba(211, 211, 211, 0.5);
  --activeblue: rgba(194, 223, 250, 0.938);
  --lightblue: rgba(200, 223, 238, 0.486);
  --blueborder: rgba(124, 193, 240, 0.726);
}

.text-center {
  text-align: center !important;
}

.hidden {
  display: none !important;
}

/* Single line truncate */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Multi line truncate */
.multi-truncate {
  line-height: 2rem;
  max-height: 4rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

/* ---- Styles ---- */
* {
  cursor: default;
}

body {
  background-image: url("../images/wallpaper.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.desktop {
  width: 100%;
  height: 95.65%;
  position: relative;
  display: flex;
}
.desktop--icon {
  padding-bottom: 1.2rem;
  border: 1px solid transparent;
  height: 8vh;
  width: 4vw;
}
.desktop--icon:hover {
  border: 1px solid rgb(150, 176, 211);
  background-color: rgba(196, 229, 241, 0.39);
}
.desktop--icon.focus {
  background-color: rgba(147, 208, 248, 0.548);
}
.desktop__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.5rem;
  margin-top: 0.25rem;
  padding: 0 0.25rem;
  word-break: keep-all;
  text-align: center;
  row-gap: 1rem;
  font-size: 0.72rem;
}
.desktop__icon img {
  width: 100%;
  height: 100%;
  padding: 0.1rem 0.15rem 0.45rem 0.15rem;
  object-fit: contain;
}
.desktop__bin.focus {
  border: 1px solid red;
}
.desktop__bin {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.753);
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.281);
  width: 700px;
  height: 500px;
  position: relative;
  top: 10rem;
  margin: 0 auto;
  display: none;
}
.desktop__bin-header {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.desktop__bin-header-first.focus {
  color: white;
  background-color: darkred;
}
.desktop__bin-header-first {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1.25;
}
.desktop__bin-header-first-leftbar {
  align-items: center;
  display: flex;
  column-gap: 0.25rem;
  padding: 5px;
}
.desktop__bin-header-first-leftbar-bin, .desktop__bin-header-first-leftbar-paper, .desktop__bin-header-first-leftbar-folder {
  height: 1rem;
  width: 1rem;
}
.desktop__bin-header-first-leftbar-tick {
  position: absolute;
  height: 0.35rem;
  width: 0.35rem;
  left: 2.35rem;
}
.desktop__bin-header-first-leftbar-paper {
  box-sizing: content-box;
  border: 1px solid transparent;
  padding: 3px 0;
}
.desktop__bin-header-first-leftbar-paper:hover {
  border: 1px solid var(--blueborder);
  background-color: var(--lightblue);
}
.desktop__bin-header-first-leftbar-arrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.1rem;
  padding: 0 2px;
  border: 1px solid transparent;
}
.desktop__bin-header-first-leftbar-arrow-container div:first-child {
  border-bottom: 1px solid black;
  padding: 0.25rem;
}
.desktop__bin-header-first-leftbar-arrow-container div:last-child {
  border: 3px solid black;
  border-color: black transparent transparent transparent;
  padding-bottom: 3px;
}
.desktop__bin-header-first-leftbar-arrow-container:hover {
  border: 1px solid var(--blueborder);
  background-color: var(--lightblue);
}
.desktop__bin-header-first-leftbar p {
  position: relative;
  top: -3px;
  font-size: 0.75rem;
  font-weight: lighter;
}
.desktop__bin-header-first-middlebar.focus {
  border-top: 3px solid red;
}
.desktop__bin-header-first-middlebar {
  display: flex;
  align-items: stretch;
  font-size: 0.75rem;
  flex: 1;
  border-top: 3px solid white;
}
.desktop__bin-header-first-middlebar p {
  display: flex;
  align-items: center;
}
.desktop__bin-header-first-middlebar p:first-child {
  padding: 0 2rem;
  background-color: rgb(238, 202, 255);
  margin-left: 10.5rem;
}
.desktop__bin-header-first-middlebar .bin-tag:last-child {
  opacity: 0.5;
  position: relative;
  top: -3px;
  margin-left: 1rem;
}
.desktop__bin-header-first-middlebar .bin-tag.focus {
  color: white;
}
.desktop__bin-header-first-rightbar {
  display: flex;
  align-items: center;
  justify-self: center;
}
.desktop__bin-header-first-rightbar i {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  transition: all 0.2s;
  color: rgba(65, 65, 65, 0.418);
}
.desktop__bin-header-first-rightbar i:first-child {
  font-size: 0.75rem;
}
.desktop__bin-header-first-rightbar i:nth-child(2) {
  font-size: 0.65rem;
  color: rgba(65, 65, 65, 0.664);
}
.desktop__bin-header-first-rightbar i:last-child {
  font-size: 1.05rem;
}
.desktop__bin-header-first-rightbar i:hover {
  color: black;
  background-color: lightcoral;
}
.desktop__bin-header-second.focus {
  border-bottom: 1px solid var(--grey);
}
.desktop__bin-header-second {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  border-bottom: 1px solid var(--grey);
}
.desktop__bin-header-second-left {
  display: flex;
  width: 23.4rem;
}
.desktop__bin-header-second-left * {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: all 0.15s;
}
.desktop__bin-header-second-left p:first-child {
  background-color: darkred;
  color: white;
  transition: all 0.15s;
}
.desktop__bin-header-second-left p:nth-child(4) {
  margin-right: 3px;
}
.desktop__bin-header-second-left p:last-child {
  position: relative;
  top: -2px;
  flex: 1.625;
  border: solid 1px transparent;
  border-top: solid 1px transparent;
  background: linear-gradient(white, white) padding-box, linear-gradient(var(--grey), rgb(255, 255, 255)) border-box;
}
.desktop__bin-header-second-left *:hover {
  border-left: 1px solid var(--grey);
  border-right: 1px solid var(--grey);
}
.desktop__bin-header-second-left p:first-child:hover {
  background-color: rgb(197, 48, 48);
}
.desktop__bin-header-second-left p:last-child:hover {
  border: 1px solid rgb(238, 202, 255);
  border-bottom: solid 1px transparent;
}
.desktop__bin-header-second-right {
  margin-right: 0.15rem;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}
.desktop__bin-header-second-right * {
  padding: 0 0.15rem;
}
.desktop__bin-header-second-right i {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  font-size: 0.6rem;
  color: grey;
}
.desktop__bin-header-second-right i:hover {
  border: 1px solid var(--blueborder);
  background-color: var(--lightblue);
}
.desktop__bin-header-second-right img {
  height: 100%;
  width: 40%;
  object-fit: contain;
}
.desktop__bin-header-third {
  display: flex;
  margin: 0.25rem 0.5rem;
}
.desktop__bin-header-third-leftbar {
  flex: 1;
  display: flex;
  align-items: stretch;
}
.desktop__bin-header-third-leftbar p {
  font-size: 0.75rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey);
}
.desktop__bin-header-third-leftbar p:nth-child(3) {
  position: relative;
  top: -0.3rem;
}
.desktop__bin-header-third-leftbar p:last-child {
  color: grey;
  transition: all 0.35s;
  border: 1px solid transparent;
}
.desktop__bin-header-third-leftbar p:last-child:hover {
  border: 1px solid var(--blueborder);
  background-color: var(--lightblue);
}
.desktop__bin-header-third-middlebar {
  flex: 3;
  display: flex;
  justify-content: space-between;
  margin-right: 0.5rem;
  border: 1px solid var(--grey);
}
.desktop__bin-header-third-middlebar-left {
  display: flex;
  align-items: stretch;
}
.desktop__bin-header-third-middlebar-left img {
  object-fit: contain;
  height: 100%;
  width: 20%;
  padding: 0 0.1rem;
}
.desktop__bin-header-third-middlebar-left i {
  color: grey;
  font-size: 0.5rem;
}
.desktop__bin-header-third-middlebar-left p {
  font-size: 0.75rem;
  position: relative;
}
.desktop__bin-header-third-middlebar-left i,
.desktop__bin-header-third-middlebar-left p {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  text-align: center;
  transition: all 0.35s;
  padding: 0.15rem;
}
.desktop__bin-header-third-middlebar-left i:hover,
.desktop__bin-header-third-middlebar-left p:hover {
  border: 1px solid var(--blueborder);
  background-color: var(--lightblue);
}
.desktop__bin-header-third-middlebar-right {
  display: flex;
}
.desktop__bin-header-third-middlebar-right i {
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  transition: all 0.35s;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  color: grey;
}
.desktop__bin-header-third-middlebar-right i:last-child {
  border-left: 1px solid var(--grey);
}
.desktop__bin-header-third-middlebar-right i:hover {
  border: 1px solid var(--blueborder);
  background-color: var(--lightblue);
}
.desktop__bin-header-third-rightbar {
  flex: 1;
  border: 1px solid var(--grey);
  display: flex;
  align-items: stretch;
}
.desktop__bin-header-third-rightbar .fa-magnifying-glass {
  display: flex;
  align-items: center;
  transform: rotate(90deg);
  margin: 0.15rem 0;
  padding: 0 0.5rem;
  margin-left: 0.25rem;
  font-size: 0.75rem;
  color: grey;
}
.desktop__bin-header-third-rightbar form {
  display: flex;
  align-items: stretch;
}
.desktop__bin-header-third-rightbar form input {
  border: none;
  margin: 0.15rem 0;
  font-size: 0.72rem;
  padding: 0.15rem 0 0.15rem;
}
.desktop__bin-header-third-rightbar form input:focus {
  outline: none;
}
.desktop__bin-header-third-rightbar form .bin-clear {
  border: 1px solid transparent;
  transition: all 0.35ms;
  align-items: center;
  margin: 0.15rem 0;
  color: grey;
  display: flex;
}
.desktop__bin-header-third-rightbar form .bin-clear:hover {
  background-color: var(--lightblue);
}
.desktop__bin-header-third-rightbar form .bin-clear.open {
  display: flex;
}
.desktop__bin-header-third-rightbar form .bin-button {
  background-color: rgb(197, 48, 48);
  border: none;
  color: rgb(241, 241, 241);
}
.desktop__bin-header-third-rightbar form .bin-button.open {
  display: block;
}
.desktop__bin-header-third-rightbar form i {
  padding: 0 0.25rem;
}
.desktop__bin-header-third-rightbar form button {
  padding: 0 0.5rem;
}
.desktop__bin-body {
  flex: 5;
  display: flex;
}
.desktop__bin-body-side {
  flex: 1.5;
  border-right: 1px solid rgba(128, 128, 128, 0.082);
}
.desktop__bin-body-side ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.desktop__bin-body-side li {
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  padding: 2px 10px;
  column-gap: 10px;
}
.desktop__bin-body-side li p {
  font-size: 0.8rem;
}
.desktop__bin-body-side li i {
  color: grey;
  font-size: 0.65rem;
}
.desktop__bin-body-side li img {
  height: 100%;
  width: 14%;
  object-fit: contain;
}
.desktop__bin-body-side li i:hover {
  color: teal;
}
.desktop__bin-body-side li:hover {
  background-color: var(--lightblue);
}
.desktop__bin-body-main {
  flex: 5;
  display: flex;
  flex-direction: column;
  /* To be implemeneted eventually 8-)
  &-header {
      flex: 1;
      display: flex;
      background-color: red;

      * {
          flex: 1;
      }

      *:hover {
          background: var(--lightblue);
      }
  }
  */
}
.desktop__bin-body-main-items {
  flex: 5;
  display: flex;
  font-size: 0.77rem;
  gap: 1rem;
  margin: 0.75rem;
}
.desktop__bin-body-main-items div {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 5rem;
  padding: 0.35rem 0.6rem;
  border: 1px solid transparent;
}
.desktop__bin-body-main-items div img {
  width: 5rem;
  object-fit: contain;
}
.desktop__bin-body-main-items div p {
  text-align: center;
}
.desktop__bin-body-main-items div:hover {
  background-color: var(--lightblue);
}
.desktop__bin-body-main-items-one.focus, .desktop__bin-body-main-items-two.focus {
  background-color: var(--activeblue);
  border: 1px solid var(--blueborder);
}
.desktop__bin-footer {
  height: 1.55rem;
  display: flex;
  justify-content: space-between;
  margin: 0 2px;
}
.desktop__bin-footer-leftbar {
  margin-left: 10px;
  font-size: 0.77rem;
  display: flex;
  align-items: center;
}
.desktop__bin-footer-rightbar {
  display: flex;
  justify-content: flex-end;
}
.desktop__bin-footer-rightbar img {
  box-sizing: content-box;
  height: 90%;
  width: 37.5%;
  padding: 0px 1px;
  object-fit: contain;
}
.desktop__bin-footer-rightbar img:first-child {
  border: 1px solid var(--blueborder);
  background: var(--lightblue);
}
.desktop__calculator.focus {
  border: 1px solid red;
}
.desktop__calculator {
  background-color: rgb(245, 245, 245);
  height: fit-content;
  border: 1px solid rgba(128, 128, 128, 0.637);
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.363);
  position: absolute;
  left: 20%;
  top: 15%;
  display: none;
}
.desktop__calculator-header {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.desktop__calculator-header-first {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 1.1rem;
}
.desktop__calculator-header-first-leftbar {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.desktop__calculator-header-first-leftbar img {
  object-fit: contain;
  height: 1rem;
}
.desktop__calculator-header-first-leftbar p {
  font-size: 0.8rem;
}
.desktop__calculator-header-first-rightbar {
  display: flex;
  align-items: stretch;
  color: rgba(85, 85, 85, 0.719);
}
.desktop__calculator-header-first-rightbar i,
.desktop__calculator-header-first-rightbar p {
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
}
.desktop__calculator-header-first-rightbar i:first-child {
  font-size: 0.8rem;
}
.desktop__calculator-header-first-rightbar i:nth-child(2) {
  font-size: 0.65rem;
}
.desktop__calculator-header-first-rightbar i:last-child {
  font-size: 1rem;
}
.desktop__calculator-header-first-rightbar i:hover {
  background-color: rgb(211, 211, 211);
}
.desktop__calculator-header-first-rightbar p:hover {
  background-color: rgb(224, 0, 0);
  color: white;
}
.desktop__calculator-header-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2rem 0 0.5rem;
}
.desktop__calculator-header-second img {
  height: 1rem;
  border: 7px solid transparent;
  box-sizing: content-box;
  margin-right: 3px;
  border-radius: 3px;
}
.desktop__calculator-header-second img:hover {
  background-color: rgba(128, 128, 128, 0.08);
  border-color: rgba(128, 128, 128, 0.01);
}
.desktop__calculator-header-second-leftbar {
  display: flex;
  align-items: center;
}
.desktop__calculator-header-second-leftbar p {
  font-weight: bold;
  font-size: 1.25rem;
}
.desktop__calculator-header-second-leftbar img:first-child {
  align-self: stretch;
  padding: 0px 3.5px;
}
.desktop__calculator-header-second-leftbar img:last-child {
  margin-left: 1rem;
}
.desktop__calculator-header-second-rightbar {
  display: flex;
}
.desktop__calculator-main-display {
  height: 6rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem 1rem;
}
.desktop__calculator-main-display p {
  font-size: 3rem;
}
.desktop__calculator-main-memory {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
}
.desktop__calculator-main-memory p {
  flex: 1;
  text-align: center;
  padding: 5px 0rem;
  border-radius: 2px;
}
.desktop__calculator-main-memory-greyout {
  color: rgba(128, 128, 128, 0.479);
}
.desktop__calculator-main-memory-nogreyout:hover {
  background-color: rgba(128, 128, 128, 0.08);
}
.desktop__calculator-main-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 3px;
  padding: 0 5px 5px 5px;
}
.desktop__calculator-main-keys img {
  height: 0.9rem;
  box-sizing: content-box;
}
.desktop__calculator-main-keys button {
  font-size: 1.05rem;
  height: 3.25rem;
  width: 4.7rem;
  text-align: center;
  border-radius: 0.25rem;
  background-color: white;
  border: 1px solid rgba(167, 167, 167, 0.301);
}
.desktop__calculator-main-keys button:last-child {
  color: white;
  background-color: darkred;
}
.desktop__calculator-main-keys > .desktop__calculator-main-keys-greyout {
  background-color: rgb(248, 248, 250);
}
.desktop__calculator-main-keys-greyout.divide {
  font-size: 1.2rem;
  color: rgb(65, 65, 65);
}
.desktop__calculator-main-keys button:hover {
  filter: brightness(0.99);
}
.desktop__calculator-main-keys button:last-child:hover {
  background-color: rgb(168, 69, 69);
}
.desktop__chrome {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
}
.desktop__chrome-header {
  display: flex;
  flex-direction: column;
  background-color: rgb(202, 109, 109);
  padding: 0.75rem 0 0 0;
}
.desktop__chrome-header-first {
  color: white;
}
.desktop__chrome-header-first-leftbar {
  display: flex;
  position: relative;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.desktop__chrome-header-first-leftbar-start {
  position: relative;
  background-color: green;
  height: 2.15rem;
  width: 0.5rem;
  z-index: 0;
}
.desktop__chrome-header-first-leftbar-start.copy {
  position: absolute;
  background-color: rgb(202, 109, 109);
  border-bottom-right-radius: 35rem;
  z-index: 2;
}
.desktop__chrome-header-first-leftbar-end {
  position: relative;
  background-color: green;
  border-bottom-left-radius: 0;
  height: 2.15rem;
  width: 0.5rem;
  z-index: 0;
}
.desktop__chrome-header-first-leftbar-end.copy {
  position: absolute;
  background-color: rgb(202, 109, 109);
  border-bottom-left-radius: 0.35rem;
  z-index: 2;
}
.desktop__chrome-header-first-leftbar-tab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: green;
  column-gap: 0.5rem;
  width: 15rem;
  padding: 0 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: 0.75rem;
}
.desktop__chrome-header-first-leftbar-tab img {
  height: 1rem;
}
.desktop__chrome-header-first-leftbar-tab p:last-child {
  flex: 1;
  text-align: right;
}
.desktop__chrome-header-first-leftbar-newtab {
  font-size: 1.2rem;
  align-self: flex-end;
  margin-bottom: 3.5px;
}
.desktop__chrome-header-first-leftbar-newtab p {
  display: flex;
  align-items: flex-start;
  text-align: center;
  background-color: red;
  border-radius: 100%;
  padding: 0 0.425rem 3px;
}
.desktop__chrome-header-second {
  display: flex;
  background-color: green;
}
.desktop__chrome-header-second-leftbar {
  flex: 1;
  display: flex;
  align-items: center;
}
.desktop__chrome-header-second-centerbar {
  flex: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desktop__chrome-header-second-centerbar div {
  display: flex;
  align-items: center;
}
.desktop__chrome-header-second-rightbar {
  display: flex;
  align-items: center;
  flex: 1;
}
.desktop__chrome-header-second-rightbar p {
  border-radius: 100%;
  padding: 0 0.45rem 3px;
}
.desktop__chrome-main {
  display: flex;
  flex-direction: column;
  height: 87%;
}
.desktop__chrome-main-header {
  display: flex;
  font-size: 0.9rem;
  letter-spacing: -0.5px;
  margin: 1rem;
}
.desktop__chrome-main-header p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.desktop__chrome-main-header-leftbar {
  flex: 1;
  display: flex;
  column-gap: 1rem;
}
.desktop__chrome-main-header-rightbar {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;
}
.desktop__chrome-main-header-rightbar p:last-child {
  background-color: palevioletred;
  border-radius: 100%;
  padding: 0.25rem 0.675rem 5px 0.65rem;
  color: white;
}
.desktop__chrome-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}
.desktop__chrome-main-content-google {
  display: flex;
  font-size: 2.75rem;
  font-weight: lighter;
  font-family: "Poppins", sans-serif;
  align-items: center;
}
.desktop__chrome-main-content-google h1:nth-child(1) {
  position: relative;
  bottom: 0.35rem;
  color: #4285F4;
  font-size: 5.5rem;
}
.desktop__chrome-main-content-google h1:nth-child(2) {
  color: #EA4335;
}
.desktop__chrome-main-content-google h1:nth-child(3) {
  color: #FBBC05;
}
.desktop__chrome-main-content-google h1:nth-child(4) {
  color: #4285F4;
}
.desktop__chrome-main-content-google h1:nth-child(5) {
  color: #34A853;
}
.desktop__chrome-main-content-google h1:nth-child(6) {
  color: #EA4335;
}
.desktop__chrome-main-content-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktop__chrome-main-content-form-buttons {
  display: flex;
}
.desktop__chrome-main-footer {
  margin-top: auto;
}
.desktop__chrome-main-footer-first {
  display: flex;
}
.desktop__chrome-main-footer-second {
  display: flex;
}
.desktop__chrome-main-footer-second p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.desktop__chrome-main-footer-second-leftbar {
  flex: 1;
  display: flex;
}
.desktop__chrome-main-footer-second-rightbar {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.taskbar {
  width: 100%;
  height: 4.35%;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.taskbar--icon {
  width: 2.545vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  transition: all 0.15s;
}
.taskbar--icon:hover {
  background-color: rgb(53, 53, 53);
}
.taskbar__left {
  height: 100%;
  width: fit-content;
  display: flex;
}
.taskbar__left-windows {
  color: white;
}
.taskbar__left-windows i {
  font-size: 1.2vw;
}
.taskbar__left-search {
  color: white;
}
.taskbar__left-search i {
  transform: rotatey(180deg);
  font-size: 0.95vw;
}
.taskbar__left-active {
  width: fit-content;
  height: 100%;
  display: flex;
}
.taskbar__left-active-chrome {
  padding: 0.525rem;
}
.taskbar__left-active-chrome img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.taskbar__left-active-calculator {
  padding: 0.425rem;
}
.taskbar__left-active-calculator img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.taskbar__right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.25vw;
}
.taskbar__right-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: white;
}
